<%= form_for(@usertypes) do |f| %>
 <table align = "center" cellpadding = "10">
  <tr>
    <td><%= f.label :user_type %></td>
    <td><%= f.text_field :level %></td>
  </tr>
    <tr>
      <td><%= f.submit %><td>
    </tr>
<% end %>
 </table>
