<h4>Forgot Password</h4>
<p>
  <% if !flash[:notice].nil? %>
    <%= flash[:notice] %>
  <% end %>
    
</p>
<h4 align="center">Please enter the email address you used to register.</h4>
<% form_for :user,:url=> send_reset_password_link_users_path do |f| %>
<div class="forgot_password">
<table align="center">
  <tr><td>	<%= f.label :email %>:</td><tr>
  <tr><td>	<%= f.text_field :email %><td><tr><br />
  	<br />
  <tr><td>  <%= f.submit "Send Password Reset Link" %></td><tr>
</table>
</div>
<% end %>